body {
    width: 100%;
    max-width: 800px;
    margin: 0px auto;
    padding: 8px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

h1 {
    display: none;
}

p br {
    display: none;
}

h1 + p {
    text-align: center;
    margin: 0px;
    padding: 0px;
}

h1 + p img {
    max-width: 550px;
}

header {
    display: none;
}

ul li {
    line-height: 1.5;
    margin-bottom: 5px;
}

a {
    color: #007bff;
    text-decoration: underline;
}

ul li p {
    margin-top: 0px;
    margin-bottom: 0px;
}

p {
    line-height: 1.65;
}

div.sourceCode {
    font-size: 17px;
    background: #efefef;
    line-height: 1.6;
    color: #333;
}

pre {
    padding: 12px;
    font-family: monospace;
}

pre > code {
    width: 100%;
}

h2,
h3,
h4,
h5,
h6 {
    margin-top: 70px;
}

.badges img {
    width: auto;
}

.badges {
    margin-top: -40px;
    text-align: center;
}

.badges a {
    text-decoration: none;
}

.fork-me {
    position: absolute;
    top: 0;
    right: 0;
}

code {
    background: #efefef;
    padding: 2px;
    font-family: monospace;
}

blockquote {
    margin: 0px;
    font-size: 20px;
    font-style: italic;
    border-left: 2px solid gray;
    padding-left: 12px;
}

blockquote p {
    margin: 0px;
}

video {
    width: 100%;
    max-width: 800px;
    margin: 0px auto;
    display: block;
}

p img {
    width: 100%;
    max-width: 800px;
}

.images img {
    width: 49%;
}
